@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
    box-sizing: border-box;
}

body {
    background: black;
    min-height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
.container {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}
nav {
    border-bottom: 5px solid white;
}
.main {
    display: flex;
    padding-top: 2rem;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.logo {
    color: white;
}
.logo i{
    font-size: 2.5rem;
    text-align: center;
}
.logo h1 {
    margin-top: 0.5rem;
    font-size: 2rem;
    font-weight: 400;

}
button {
    background: white;
    padding: 1rem 2rem;
    border: transparent;
    font-weight: bold;
    font-size: 1.2rem;
}
.box-container {
    display: flex;
    flex-wrap: wrap;
}
.box {
    font-size: 1.5rem;
    padding: 2rem;
    width: 33.33%;
    text-align: center;
}
img {
    max-width: 100%;
}
h2 {
    color: white;
}
p {
    color: white;
}
.red {
    color: rosybrown;
}
.green {
    color: teal;
}
.orange {
    color: coral;
}
@media screen and (max-width: 768px) {
    nav button {
        display: none;
    }

    nav {
        justify-content: center;
    }

    .col {
        width: 100%;
    }
}